{% extends 'admin_nav.html' %} {% load static %} {% block body %}

<style>
  .container1 {
    background-color: lightgray;
    border-radius: 8px;
  }
  h2,
  h4 {
    padding: 8px;
  }

  .mydiv:hover {
    transform: translateY(-10px);
    transition: 1s;
  }
</style>
<br /><br />
<div class="container mt-5">
  <div class="row">
    <div class="col-sm-3 text-center mydiv">
      <div class="container1">
        <h2 class="text-primary">{{pn}}</h2>
        <a href="{% url 'pending_notes' %}"
          ><h4 class="text-dark">Pending Notes</h4></a
        >
      </div>
    </div>

    <div class="col-sm-3 text-center mydiv">
      <div class="container1">
        <h2 class="text-primary">{{an}}</h2>
        <a href="{% url 'accepted_notes' %}"
          ><h4 class="text-dark">Accepted Notes</h4></a
        >
      </div>
    </div>

    <div class="col-sm-3 text-center mydiv">
      <div class="container1">
        <h2 class="text-primary">{{rn}}</h2>
        <a href="{% url 'rejected_notes' %}"
          ><h4 class="text-dark">Rejected Notes</h4></a
        >
      </div>
    </div>

    <div class="col-sm-3 text-center mydiv">
      <div class="container1">
        <h2 class="text-primary">{{alln}}</h2>
        <a href="{% url 'all_notes' %}"><h4 class="text-dark">All Notes</h4></a>
      </div>
    </div>
  </div>
</div>

<footer class="container mt-5 text-center">
  <p style="font-size: 15pt; color: darkgray; font-weight: bold">
    Copyright &copy;
    <script>
      document.write(new Date().getFullYear());
    </script>
    All Rights Reserved <span style="color: brown">|</span> <br /><span
      style="color: #006400"
      >Achyut Parajuli</span
    >
  </p>
</footer>

{% endblock %}
