{% extends 'usernavigation.html' %} {% load static %} {% block body %}
<!--  -->

<!--  -->
{% if error == "no" %}

<script>
  alert("Password Changed");
  window.location = "{% url 'logout' %}";
</script>
{% elif error == "yes" %}
<script>
  alert("Invalid Login Credentials, Try Again");
</script>
{% endif %}

<div class="container mt-5">
  <div class="row">
    <div class="col-sm-6">
      <img
        src="{% static 'images/notes2.png' %}"
        style="width: 90%; height: 400px"
        alt=""
      />
    </div>
    <div class="col-sm-6">
      <h2 class="text-center">CHANGE PASSWORD</h2>
      <hr />
      <form method="post">
        {% csrf_token %}
        <label>Old Password</label>
        <input
          type="password"
          class="form-control"
          placeholder="Enter Old Password"
          name="old"
        />

        <label>New Password</label>
        <input
          type="password"
          class="form-control"
          placeholder="Enter New Password"
          name="new"
        />

        <label>Confirm Password</label>
        <input
          type="password"
          class="form-control"
          placeholder="Enter New Password Again"
          name="confirm"
        />
        <input type="submit" class="btn btn-danger mt-2" value="SUBMIT" />
      </form>
    </div>
  </div>
</div>

{% endblock %}
