{% extends 'navigation.html' %} {% block body %} {% load static %}

<div style="background-color: #526863; width: 100%; height: 100px">
  <h3 class="text-white container pt-4">Contact Us</h3>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-sm-6">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14284.48435610304!2d87.25741142806956!3d26.48404579965134!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39ef750718d3eeb1%3A0x550a2d736f3d5284!2sKanchanbari%20Bus%20Station!5e0!3m2!1sen!2snp!4v1680012684716!5m2!1sen!2snp"
        width="500"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
    <div class="col-sm-6 mt-5">
      <p><i class="fas fa-envelope">Email ID : achyutp10@gmail.com</i></p>
      <p><i class="fas fa-phone-square">Contact : +977-9821321232</i></p>
      <p><i class="fas fa-address-card">Address : Biratnagar, Nepal</i></p>
      <p>
        <i class="fas fa-clock">Office Hours : 10:00 am to 06:00 pm</i>
      </p>
      <p><b>Follow us here 👇:</b></p>
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-twitter pl-3"></i></a>
      <a href="#"><i class="fab fa-instagram pl-3"></i></a>
    </div>
  </div>
</div>
<br />

{% endblock %}
